/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
@media (hover: hover) and (pointer: fine) {
  ._3XaDsUnZG7ZfFqFF37dZPv:before, ._3XaDsUnZG7ZfFqFF37dZPv:after {
    background: black;
    background: var(--ipt-on-accent1-color); }
  ._3XaDsUnZG7ZfFqFF37dZPv:hover:before {
    opacity: 0.08;
    opacity: var(--ipt-base-hover-opacity); }
  ._3XaDsUnZG7ZfFqFF37dZPv:active:after {
    opacity: 0.16;
    opacity: var(--ipt-base-pressed-opacity); } }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
._7slaS0NikSNpkLVY3A1sk {
  background: #1f1f1f;
  background: var(--ipt-baseAlt-shade1-bg); }
  @media screen and (min-width: 600px) {
    ._7slaS0NikSNpkLVY3A1sk {
      border-radius: var(--ipt-cornerRadius); } }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
._3CzPBqlWRmSAoWxtvQQ5Eo {
  border-color: rgba(255, 255, 255, 0.25);
  border-color: rgba(var(--ipt-on-baseAlt-rgb), 0.25); }
  ._3CzPBqlWRmSAoWxtvQQ5Eo:hover {
    background: rgba(255, 255, 255, 0.12);
    background: rgba(var(--ipt-on-baseAlt-rgb), var(--ipt-baseAlt-hover-opacity)); }
  ._3CzPBqlWRmSAoWxtvQQ5Eo:active {
    background: rgba(255, 255, 255, 0.32);
    background: rgba(var(--ipt-on-baseAlt-rgb), var(--ipt-baseAlt-pressed-opacity)); }

.-Ua5c7m52ju7WmdBtOEnf {
  background: rgba(255, 255, 255, 0.12);
  background: rgba(var(--ipt-on-baseAlt-rgb), var(--ipt-baseAlt-hover-opacity)); }

._3Y2Rsr5ce7gB9vCd5oZ8Rg,
._26kHO_8bFBduUIYADnVHFY {
  color: white;
  color: var(--ipt-on-baseAlt-textPrimary-color); }

._26kHO_8bFBduUIYADnVHFY {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  /* stylelint-disable */
  font-smooth: auto;
  /* stylelint-enable */ }

._3Y2Rsr5ce7gB9vCd5oZ8Rg {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.01786em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  /* stylelint-disable */
  font-smooth: auto;
  /* stylelint-enable */ }

._1DoAqrviL4URifsx8tYz_V {
  color: rgba(255, 255, 255, 0.7);
  color: var(--ipt-on-baseAlt-textSecondary-color);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.01786em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  /* stylelint-disable */
  font-smooth: auto;
  /* stylelint-enable */ }

._2TpQYyMxf6Rm95JztEm_yk, .caC6sT2C83IhLkzYA6kMB {
  color: #5799ef;
  color: var(--ipt-on-baseAlt-accent2-color);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.01786em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  /* stylelint-disable */
  font-smooth: auto;
  /* stylelint-enable */ }

._2xcsB5_XEiRCOYGbWQ05C9,
._2VTfSadvr91wa2jULYtbX2 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  /* stylelint-disable */
  font-smooth: auto;
  /* stylelint-enable */ }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
._19kygDgP4Og4wL_TIXtDmm {
  background: #1f1f1f;
  background: var(--ipt-baseAlt-shade1-bg); }
  @media screen and (min-width: 600px) {
    ._19kygDgP4Og4wL_TIXtDmm {
      background: white;
      background: var(--ipt-base-bg);
      border-radius: var(--ipt-cornerRadius); }
      ._19kygDgP4Og4wL_TIXtDmm.q2gp5sSzXI30d2n_razRe {
        background: white;
        background: var(--ipt-base-bg);
        outline: none;
        border-color: none;
        box-shadow: inset 0 0 0 2px #f5c518;
        box-shadow: inset 0 0 0 2px var(--ipt-accent1-color); } }

.P7UFTypc7bsdHDd2RHdil {
  /* empty */ }

._3gDVKsXm3b_VAMhhSw1haV {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  /* stylelint-disable */
  font-smooth: auto;
  /* stylelint-enable */
  color: white;
  color: var(--ipt-on-baseAlt-color);
  caret-color: white;
  caret-color: var(--ipt-on-baseAlt-color); }
  ._3gDVKsXm3b_VAMhhSw1haV:placeholder {
    color: var(--ipt-baseAlt-textHint-color); }
  @media screen and (min-width: 600px) {
    ._3gDVKsXm3b_VAMhhSw1haV {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-family: var(--ipt-font-family);
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 400;
      letter-spacing: 0.01786em;
      text-decoration: inherit;
      text-transform: inherit;
      -webkit-font-smoothing: auto;
      /* stylelint-disable */
      font-smooth: auto;
      /* stylelint-enable */
      color: rgba(0, 0, 0, 0.87);
      color: var(--ipt-on-base-textPrimary-color);
      caret-color: rgba(0, 0, 0, 0.54);
      caret-color: var(--ipt-on-base-textSecondary-color); } }

._1-XI3_I8iwubPnQ1mmvW97 {
  background: #fafafa;
  background: var(--ipt-base-shade1-bg);
  color: rgba(0, 0, 0, 0.54);
  color: var(--ipt-on-base-textSecondary-color);
  border-radius: var(--ipt-cornerRadius); }
  @media screen and (min-width: 600px) {
    ._1-XI3_I8iwubPnQ1mmvW97 {
      background: white;
      background: var(--ipt-base-bg); } }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
._2crW0ewf49BFHCKEEUJ_9o ._1L5qcXA4wOKR8LeHJgsqja {
  transition: color 0.15s;
  cursor: pointer; }
  ._2crW0ewf49BFHCKEEUJ_9o ._1L5qcXA4wOKR8LeHJgsqja ._2re8nTkPmRXI_TBcLnh1u8 {
    margin-right: 0.75rem;
    opacity: 0.5;
    transition: opacity 0.2s; }
  ._2crW0ewf49BFHCKEEUJ_9o ._1L5qcXA4wOKR8LeHJgsqja:hover ._2re8nTkPmRXI_TBcLnh1u8, ._2crW0ewf49BFHCKEEUJ_9o ._1L5qcXA4wOKR8LeHJgsqja:focus ._2re8nTkPmRXI_TBcLnh1u8, ._2crW0ewf49BFHCKEEUJ_9o ._1L5qcXA4wOKR8LeHJgsqja._3lrXaniHRqyCb5hUFHbcds ._2re8nTkPmRXI_TBcLnh1u8 {
    opacity: 1; }
  ._2crW0ewf49BFHCKEEUJ_9o ._1L5qcXA4wOKR8LeHJgsqja._3lrXaniHRqyCb5hUFHbcds {
    color: #f5ff18;
    color: var(--ipt-on-base-accent1-color); }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
._2cVsg1cgtNxl8NEGDHTPH6 {
  /* empty */ }

.EL4bTiUhQdfIvyX_PMRVv:checked ~ ._2-sWuOY7_FrMCR557-z9H_ {
  background-color: black;
  background-color: var(--ipt-baseAlt-color); }

button._3l1hVHEUIoeLbpxYHxio-j {
  min-height: 2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: .2rem;
  border-right-style: solid;
  border-color: black;
  border-color: var(--ipt-baseAlt-color); }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
.iRO9SK-8q3D8_287dhn28 {
  background: #1f1f1f;
  background: var(--ipt-baseAlt-shade1-bg); }

._1iCYg55DI6ds7d3KVrdYBX {
  background: #1f1f1f;
  background: var(--ipt-baseAlt-shade1-bg); }

._3rHHDKyPLOjL8tGKHWMRza {
  background: var(--ipt-baseAlt-stripes-bg); }

.Bh8XO_Pd8J6PRkh7ZT-a {
  overflow: hidden;
  position: relative; }

.WNY8DBPCS1ZbiSd7NoqdP {
  display: none; }

@media screen and (max-width: 1024px) {
  ._3rHHDKyPLOjL8tGKHWMRza ._2RzUkzyrsjx_BPIQ5uoj5s {
    background: none; } }

@media screen and (min-width: 1024px) {
  ._3rHHDKyPLOjL8tGKHWMRza ._2RzUkzyrsjx_BPIQ5uoj5s {
    background: #f5c518;
    background: var(--ipt-accent1-bg);
    color: black;
    color: var(--ipt-on-accent1-color); }
    ._3rHHDKyPLOjL8tGKHWMRza ._2RzUkzyrsjx_BPIQ5uoj5s:hover {
      color: black;
      color: var(--ipt-on-accent1-color); } }

._14--k36qjjvLW3hUWHDPb_ {
  /* empty */ }

._146x-LuQBSfM9yosRvjSGF {
  /* empty */ }

._3bRJYEaOz1BKUQYqW6yb29 {
  /* empty */ }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
._2BpsDlqEMlo9unX-C84Nji {
  /* empty */ }

._1tLXJMH37mh4UmvfVF8swF {
  /* empty */ }

._2aunAih-uMfbdgTUIjnQMd {
  /* empty */ }

._2BeDp2pKthfMnxArm4lS0T {
  /* empty */ }

._1IQgIe3JwGh2arzItRgYN3 {
  /* empty */ }

._1gB7giE3RrFWXvlzwjWk-q {
  /* empty */ }

._2Q0QZxgQqVpU0nQBqv1xlY {
  /* empty */ }

._1S9IOoNAVMPB2VikET3Lr2 {
  height: 0;
  visibility: hidden; }

.s6lVaL5MYgQM-fYJ9KWp7:checked ~ ._2Q0QZxgQqVpU0nQBqv1xlY ._2vjThdvAXrHx6CofJjm03w {
  border-color: rgba(255, 255, 255, 0.2);
  border-color: var(--ipt-baseAlt-border-color); }

.s6lVaL5MYgQM-fYJ9KWp7:checked ~ ._2Q0QZxgQqVpU0nQBqv1xlY ._1S9IOoNAVMPB2VikET3Lr2 {
  border-color: rgba(255, 255, 255, 0.2);
  border-color: var(--ipt-baseAlt-border-color);
  height: auto;
  visibility: inherit; }

.s6lVaL5MYgQM-fYJ9KWp7:checked ~ ._2Q0QZxgQqVpU0nQBqv1xlY ._2vjThdvAXrHx6CofJjm03w ._1tLXJMH37mh4UmvfVF8swF,
.s6lVaL5MYgQM-fYJ9KWp7:checked ~ ._2Q0QZxgQqVpU0nQBqv1xlY ._2vjThdvAXrHx6CofJjm03w ._2aunAih-uMfbdgTUIjnQMd {
  color: #f5c518;
  color: var(--ipt-on-baseAlt-accent1-color); }

._2vjThdvAXrHx6CofJjm03w {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  /* stylelint-disable */
  font-smooth: auto;
  /* stylelint-enable */ }
  ._2vjThdvAXrHx6CofJjm03w:hover {
    background: rgba(255, 255, 255, 0.12);
    background: var(--ipt-baseAlt-hover-bg); }

@media screen and (min-width: 1024px) {
  ._2aunAih-uMfbdgTUIjnQMd {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-family: var(--ipt-font-family);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: normal;
    text-decoration: inherit;
    text-transform: inherit;
    font-weight: 600;
    line-height: 1.5rem;
    -webkit-font-smoothing: auto;
    /* stylelint-disable */
    font-smooth: auto;
    /* stylelint-enable */ } }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
._3wpok4xkiX-9E61ruFL_RA {
  /* Empty */ }

._1BC0pBnjYqz3wST1u3CwmG {
  /* Empty */ }

._1cBEhLbHn9YeCkfPvo9USU {
  /* Empty */ }

._3xW8qYlqcCPv5fOHeXBer5 {
  /* Empty */ }

._3xW8qYlqcCPv5fOHeXBer5:hover,
._1BC0pBnjYqz3wST1u3CwmG:hover {
  background: rgba(255, 255, 255, 0.12);
  background: var(--ipt-baseAlt-hover-bg); }

._33PK8nBHiT1fGjnfXwum3v {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.01786em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  /* stylelint-disable */
  font-smooth: auto;
  /* stylelint-enable */ }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
._1nYZd2B7IreG41Pj-RCDnb {
  /* empty */ }

.jOOJQ0waXoTX6ZSthGtum {
  /* empty */ }

._3agvn42aJpmi-lId674ZVe {
  /* empty */ }

._32i38MKalFVUkNAqPm88ln {
  /* empty */ }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
._3x17Igk9XRXcaKrcG3_MXQ .ipc-list__item.navbar__user-menu__username {
  color: #f5c518;
  color: var(--ipt-on-baseAlt-accent1-color);
  opacity: 1;
  pointer-events: none; }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
.ffzGRstkt4lGcy9yWXz7a {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.03333em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  /* stylelint-disable */
  font-smooth: auto;
  /* stylelint-enable */ }

/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
.FHCtKBINjbqzCITNiccU0 {
  --ipt-base-rgb: 255,255,255;
  --ipt-base-color: rgb(var(--ipt-base-rgb));
  --ipt-base-bg: var(--ipt-base-color);
  --ipt-base-shade1-rgb: 250,250,250;
  --ipt-base-shade1-color: rgb(var(--ipt-base-shade1-rgb));
  --ipt-base-shade1-bg: var(--ipt-base-shade1-color);
  --ipt-base-shade2-rgb: 240,240,240;
  --ipt-base-shade2-color: rgb(var(--ipt-base-shade2-rgb));
  --ipt-base-shade2-bg: var(--ipt-base-shade2-color);
  --ipt-on-base-rgb: 0,0,0;
  --ipt-on-base-color: rgb(var(--ipt-on-base-rgb));
  --ipt-on-base-accent1-rgb: 245,197,24;
  --ipt-on-base-accent1-color: rgb(var(--ipt-on-base-accent1-rgb));
  --ipt-on-base-accent2-rgb: 14,99,190;
  --ipt-on-base-accent2-color: rgb(var(--ipt-on-base-accent2-rgb));
  --ipt-on-base-error-rgb: 192,59,5;
  --ipt-on-base-error-color: rgb(var(--ipt-on-base-error-rgb));
  --ipt-on-base-textPrimary-color: rgba(var(--ipt-on-base-rgb), .87);
  --ipt-on-base-textSecondary-color: rgba(var(--ipt-on-base-rgb), .54);
  --ipt-on-base-textHint-color: rgba(var(--ipt-on-base-rgb), .38);
  --ipt-on-base-textDisabled-color: rgba(var(--ipt-on-base-rgb), .38);
  --ipt-on-base-textIcon-color: rgba(var(--ipt-on-base-rgb), .54);
  --ipt-base-hover-opacity: 0.08;
  --ipt-base-hover-bg: rgba(var(--ipt-on-base-rgb), 0.08);
  --ipt-base-pressed-opacity: 0.16;
  --ipt-base-pressed-bg: rgba(var(--ipt-on-base-rgb), 0.16);
  --ipt-base-border-opacity: 0.12;
  --ipt-base-border-color: rgba(var(--ipt-on-base-rgb), 0.12);
  /* stylelint-disable-next-line max-line-length */
  --ipt-base-stripes-opacity: 0.04;
  --ipt-on-base-stripes-rgb: 0,0,0;
  --ipt-base-stripes-bg: repeating-linear-gradient(
        45deg,
        rgba(var(--ipt-on-base-stripes-rgb), var(--ipt-base-stripes-opacity)),
        rgba(var(--ipt-on-base-stripes-rgb), var(--ipt-base-stripes-opacity)) 2px,
        transparent 2px,
        transparent 7px), transparent;
  --ipt-baseAlt-rgb: 0,0,0;
  --ipt-baseAlt-color: rgb(var(--ipt-baseAlt-rgb));
  --ipt-baseAlt-bg: var(--ipt-baseAlt-color);
  --ipt-baseAlt-shade1-rgb: 31,31,31;
  --ipt-baseAlt-shade1-color: rgb(var(--ipt-baseAlt-shade1-rgb));
  --ipt-baseAlt-shade1-bg: var(--ipt-baseAlt-shade1-color);
  --ipt-baseAlt-shade2-rgb: 26,26,26;
  --ipt-baseAlt-shade2-color: rgb(var(--ipt-baseAlt-shade2-rgb));
  --ipt-baseAlt-shade2-bg: var(--ipt-baseAlt-shade2-color);
  --ipt-baseAlt-shade3-rgb: 18,18,18;
  --ipt-baseAlt-shade3-color: rgb(var(--ipt-baseAlt-shade3-rgb));
  --ipt-baseAlt-shade3-bg: var(--ipt-baseAlt-shade3-color);
  --ipt-on-baseAlt-rgb: 255,255,255;
  --ipt-on-baseAlt-color: rgb(var(--ipt-on-baseAlt-rgb));
  --ipt-on-baseAlt-accent1-rgb: 245,197,24;
  --ipt-on-baseAlt-accent1-color: rgb(var(--ipt-on-baseAlt-accent1-rgb));
  --ipt-on-baseAlt-accent2-rgb: 87,153,239;
  --ipt-on-baseAlt-accent2-color: rgb(var(--ipt-on-baseAlt-accent2-rgb));
  --ipt-on-baseAlt-error-rgb: 192,59,5;
  --ipt-on-baseAlt-error-color: rgb(var(--ipt-on-baseAlt-error-rgb));
  --ipt-on-baseAlt-textPrimary-color: rgba(var(--ipt-on-baseAlt-rgb), 1);
  --ipt-on-baseAlt-textSecondary-color: rgba(var(--ipt-on-baseAlt-rgb), .7);
  --ipt-on-baseAlt-textHint-color: rgba(var(--ipt-on-baseAlt-rgb), .5);
  --ipt-on-baseAlt-textDisabled-color: rgba(var(--ipt-on-baseAlt-rgb), .5);
  --ipt-on-baseAlt-textIcon-color: rgba(var(--ipt-on-baseAlt-rgb), 1);
  --ipt-baseAlt-hover-opacity: 0.12;
  --ipt-baseAlt-hover-bg: rgba(var(--ipt-on-baseAlt-rgb), 0.12);
  --ipt-baseAlt-pressed-opacity: 0.32;
  --ipt-baseAlt-pressed-bg: rgba(var(--ipt-on-baseAlt-rgb), 0.32);
  --ipt-baseAlt-border-opacity: 0.2;
  --ipt-baseAlt-border-color: rgba(var(--ipt-on-baseAlt-rgb), 0.2);
  /* stylelint-disable-next-line max-line-length */
  --ipt-baseAlt-stripes-opacity: 0.12;
  --ipt-on-baseAlt-stripes-rgb: 255,255,255;
  --ipt-baseAlt-stripes-bg: repeating-linear-gradient(
        45deg,
        rgba(var(--ipt-on-baseAlt-stripes-rgb), var(--ipt-baseAlt-stripes-opacity)),
        rgba(var(--ipt-on-baseAlt-stripes-rgb), var(--ipt-baseAlt-stripes-opacity)) 2px,
        transparent 2px,
        transparent 7px), transparent;
  --ipt-focus-outline-on-base-default: 1px dashed var(--ipt-on-base-color);
  --ipt-focus-outline-on-base: var(--ipt-focus-outline-on-base-default);
  --ipt-focus-outline-on-baseAlt-default: 1px dashed var(--ipt-on-baseAlt-color);
  --ipt-focus-outline-on-baseAlt: var(--ipt-focus-outline-on-baseAlt-default);
  --ipt-accent1-rgb: 245,197,24;
  --ipt-accent1-color: rgb(var(--ipt-accent1-rgb));
  --ipt-accent1-bg: var(--ipt-accent1-color);
  --ipt-on-accent1-rgb: 0,0,0;
  --ipt-on-accent1-color: rgb(var(--ipt-on-accent1-rgb));
  --ipt-accent2-rgb: 14,99,190;
  --ipt-accent2-color: rgb(var(--ipt-accent2-rgb));
  --ipt-accent2-bg: var(--ipt-accent2-color);
  --ipt-on-accent2-rgb: 255,255,255;
  --ipt-on-accent2-color: rgb(var(--ipt-on-accent2-rgb));
  --ipt-altAccent2-rgb: 87,153,239;
  --ipt-altAccent2-color: rgb(var(--ipt-altAccent2-rgb));
  --ipt-altAccent2-bg: var(--ipt-altAccent2-color);
  --ipt-on-altAccent2-rgb: 0,0,0;
  --ipt-on-altAccent2-color: rgb(var(--ipt-on-altAccent2-rgb));
  --ipt-accent3-rgb: 192,59,5;
  --ipt-accent3-color: rgb(var(--ipt-accent3-rgb));
  --ipt-accent3-bg: var(--ipt-accent3-color);
  --ipt-on-accent3-rgb: 255,255,255;
  --ipt-on-accent3-color: rgb(var(--ipt-on-accent3-rgb));
  --ipt-cornerRadius: 4px;
  --ipt-pageMargin: 1rem;
  --mdc-theme-ipt-base-color: var(--ipt-base-color);
  --mdc-theme-ipt-base-shade1-color: var(--ipt-base-shade1-color);
  --mdc-theme-ipt-base-shade2-color: var(--ipt-base-shade2-color);
  --mdc-theme-ipt-base-bg: var(--ipt-base-bg);
  --mdc-theme-ipt-base-shade1-bg: var(--ipt-base-shade1-bg);
  --mdc-theme-ipt-base-shade2-bg: var(--ipt-base-shade2-bg);
  --mdc-theme-ipt-on-base-color: var(--ipt-on-base-color);
  --mdc-theme-ipt-on-base-accent1-color: var(--ipt-on-base-accent1-color);
  --mdc-theme-ipt-on-base-accent2-color: var(--ipt-on-base-accent2-color);
  --mdc-theme-ipt-on-base-error-color: var(--ipt-on-base-error-color);
  --mdc-theme-ipt-on-base-textPrimary-color: var(--ipt-on-base-textPrimary-color);
  --mdc-theme-ipt-on-base-textSecondary-color: var(--ipt-on-base-textSecondary-color);
  --mdc-theme-ipt-on-base-textHint-color: var(--ipt-on-base-textHint-color);
  --mdc-theme-ipt-on-base-textDisabled-color: var(--ipt-on-base-textDisabled-color);
  --mdc-theme-ipt-on-base-textIcon-color: var(--ipt-on-base-textIcon-color);
  --mdc-theme-ipt-base-border-opacity: var(--ipt-base-border-opacity);
  --mdc-theme-ipt-base-border-color: var(--ipt-base-border-color);
  --mdc-theme-ipt-base-hover-opacity: var(--ipt-base-hover-opacity);
  --mdc-theme-ipt-base-hover-bg: var(--ipt-base-hover-bg);
  --mdc-theme-ipt-base-pressed-opacity: var(--ipt-base-pressed-opacity);
  --mdc-theme-ipt-base-pressed-bg: var(--ipt-base-pressed-bg);
  --mdc-theme-ipt-baseAlt-color: var(--ipt-baseAlt-color);
  --mdc-theme-ipt-baseAlt-shade1-color: var(--ipt-baseAlt-shade1-color);
  --mdc-theme-ipt-baseAlt-shade2-color: var(--ipt-baseAlt-shade2-color);
  --mdc-theme-ipt-baseAlt-shade3-color: var(--ipt-baseAlt-shade3-color);
  --mdc-theme-ipt-baseAlt-bg: var(--ipt-baseAlt-bg);
  --mdc-theme-ipt-baseAlt-shade1-bg: var(--ipt-baseAlt-shade1-bg);
  --mdc-theme-ipt-baseAlt-shade2-bg: var(--ipt-baseAlt-shade2-bg);
  --mdc-theme-ipt-baseAlt-shade3-bg: var(--ipt-baseAlt-shade3-bg);
  --mdc-theme-ipt-on-baseAlt-color: var(--ipt-on-baseAlt-color);
  --mdc-theme-ipt-on-baseAlt-accent1-color: var(--ipt-on-baseAlt-accent1-color);
  --mdc-theme-ipt-on-baseAlt-accent2-color: var(--ipt-on-baseAlt-accent2-color);
  --mdc-theme-ipt-on-baseAlt-error-color: var(--ipt-on-baseAlt-error-color);
  --mdc-theme-ipt-on-baseAlt-textPrimary-color: var(--ipt-on-baseAlt-textPrimary-color);
  --mdc-theme-ipt-on-baseAlt-textSecondary-color: var(--ipt-on-baseAlt-textSecondary-color);
  --mdc-theme-ipt-on-baseAlt-textHint-color: var(--ipt-on-baseAlt-textHint-color);
  --mdc-theme-ipt-on-baseAlt-textDisabled-color: var(--ipt-on-baseAlt-textDisabled-color);
  --mdc-theme-ipt-on-baseAlt-textIcon-color: var(--ipt-on-baseAlt-textIcon-color);
  --mdc-theme-ipt-baseAlt-border-opacity: var(--ipt-baseAlt-border-opacity);
  --mdc-theme-ipt-baseAlt-border-color: var(--ipt-baseAlt-border-color);
  --mdc-theme-ipt-baseAlt-hover-opacity: var(--ipt-baseAlt-hover-opacity);
  --mdc-theme-ipt-baseAlt-hover-bg: var(--ipt-baseAlt-hover-bg);
  --mdc-theme-ipt-baseAlt-pressed-opacity: var(--ipt-baseAlt-pressed-opacity);
  --mdc-theme-ipt-baseAlt-pressed-bg: var(--ipt-baseAlt-pressed-bg);
  --mdc-theme-ipt-accent1-color: var(--ipt-accent1-color);
  --mdc-theme-ipt-accent1-bg: var(--ipt-accent1-bg);
  --mdc-theme-ipt-on-accent1-color: var(--ipt-on-accent1-color);
  --mdc-theme-ipt-accent2-color: var(--ipt-accent2-color);
  --mdc-theme-ipt-accent2-bg: var(--ipt-accent2-bg);
  --mdc-theme-ipt-on-accent2-color: var(--ipt-on-accent2-color);
  --mdc-theme-ipt-altAccent2-color: var(--ipt-altAccent2-color);
  --mdc-theme-ipt-altAccent2-bg: var(--ipt-altAccent2-bg);
  --mdc-theme-ipt-on-altAccent2-color: var(--ipt-on-altAccent2-color);
  --mdc-theme-ipt-accent3-color: var(--ipt-accent3-color);
  --mdc-theme-ipt-accent3-bg: var(--ipt-accent3-bg);
  --mdc-theme-ipt-on-accent3-color: var(--ipt-on-accent3-color);
  --mdc-theme-primary: var(--ipt-baseAlt-color);
  --mdc-theme-secondary: var(--ipt-accent1-color);
  --mdc-theme-background: var(--ipt-base-color);
  --mdc-theme-surface: var(--ipt-base-shade1-color);
  --mdc-theme-on-primary: var(--ipt-on-baseAlt-color);
  --mdc-theme-on-secondary: var(--ipt-on-accent1-color);
  --mdc-theme-on-surface: var(--ipt-on-base-color);
  --mdc-theme-text-primary-on-background: var(--ipt-on-base-textPrimary-color);
  --mdc-theme-text-secondary-on-background: var(--ipt-on-base-textSecondary-color);
  --mdc-theme-text-hint-on-background: var(--ipt-on-base-textHint-color);
  --mdc-theme-text-disabled-on-background: var(--ipt-on-base-textDisabled-color);
  --mdc-theme-text-icon-on-background: var(--ipt-on-base-textIcon-color);
  --mdc-theme-text-primary-on-light: var(--ipt-on-base-textPrimary-color);
  --mdc-theme-text-secondary-on-light: var(--ipt-on-base-textSecondary-color);
  --mdc-theme-text-hint-on-light: var(--ipt-on-base-textHint-color);
  --mdc-theme-text-disabled-on-light: var(--ipt-on-base-textDisabled-color);
  --mdc-theme-text-icon-on-light: var(--ipt-on-base-textIcon-color);
  --mdc-theme-text-primary-on-dark: var(--ipt-on-baseAlt-textPrimary-color);
  --mdc-theme-text-secondary-on-dark: var(--ipt-on-baseAlt-textSecondary-color);
  --mdc-theme-text-hint-on-dark: var(--ipt-on-baseAlt-textHint-color);
  --mdc-theme-text-disabled-on-dark: var(--ipt-on-baseAlt-textDisabled-color);
  --mdc-theme-text-icon-on-dark: var(--ipt-on-baseAlt-textIcon-color);
  background: #121212;
  background: var(--ipt-baseAlt-shade3-bg);
  color: white;
  color: var(--ipt-on-baseAlt-textPrimary-color);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  /* stylelint-disable */
  font-smooth: auto;
  /* stylelint-enable */ }
  @media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
    .FHCtKBINjbqzCITNiccU0 {
      --ipt-base-stripes-bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAGBJREFUGBmFkIEKgCAMRJdShP//u0b3qInaqoNTOd/ELZtZkVcZHdf2WLesaJGTzBlFcOWyyr+wvzLDFJI1OUjQw3xlgHvwE57BVzgCQxiQGYYjUe7TSID7HQxdKkOtwRM6PBJDBy3TcAAAAABJRU5ErkJggg==); } }
  @media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
    .FHCtKBINjbqzCITNiccU0 {
      --ipt-baseAlt-stripes-bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAFNJREFUGBlj/P//vzwDBHxkZGT8AGWjUEA1AowgAijKD5XBqZgRpIAYxWCFxCiGKySkGEUhPsUYCnEpxqoQm2ImqI9BcigAGqYfoYL8TEAGPzGKAcYdNCelTSU5AAAAAElFTkSuQmCC); } }
  @media screen and (min-width: 480px) {
    .FHCtKBINjbqzCITNiccU0 {
      --ipt-pageMargin: 1.5rem; } }
  @media screen and (min-width: 600px) {
    .FHCtKBINjbqzCITNiccU0 {
      --ipt-pageMargin: 1.5rem; } }
  @media screen and (min-width: 1024px) {
    .FHCtKBINjbqzCITNiccU0 {
      --ipt-pageMargin: 1rem; } }
  @media screen and (min-width: 1280px) {
    .FHCtKBINjbqzCITNiccU0 {
      --ipt-pageMargin: 1.5rem; } }


/*# sourceMappingURL=main.561fd5ab0978740bf462.css.map*/