/* stylelint-disable-next-line max-line-length */
/* stylelint-disable-next-line max-line-length */
/* Creates CSS3 Variables and adds them to root
 * @params
 *  $map - expects a map that contains 'core', 'on', 'text', and 'state' maps
 * @output
 *  --{key}-rgb: {val} - rgb value of the key
 *  --{key}-color: rgb(var(--{key}-rgb)) - variable meant for css:color use
 *  --{key}-bg: var(--{key}-color) - bg color meant for css:background use
 */
.VUGIPjGgHtzvbHiU19iTQ {
  --ipt-base-rgb: 255,255,255;
  --ipt-base-color: rgb(var(--ipt-base-rgb));
  --ipt-base-bg: var(--ipt-base-color);
  --ipt-base-shade1-rgb: 250,250,250;
  --ipt-base-shade1-color: rgb(var(--ipt-base-shade1-rgb));
  --ipt-base-shade1-bg: var(--ipt-base-shade1-color);
  --ipt-base-shade2-rgb: 240,240,240;
  --ipt-base-shade2-color: rgb(var(--ipt-base-shade2-rgb));
  --ipt-base-shade2-bg: var(--ipt-base-shade2-color);
  --ipt-on-base-rgb: 0,0,0;
  --ipt-on-base-color: rgb(var(--ipt-on-base-rgb));
  --ipt-on-base-accent1-rgb: 245,197,24;
  --ipt-on-base-accent1-color: rgb(var(--ipt-on-base-accent1-rgb));
  --ipt-on-base-accent2-rgb: 14,99,190;
  --ipt-on-base-accent2-color: rgb(var(--ipt-on-base-accent2-rgb));
  --ipt-on-base-error-rgb: 192,59,5;
  --ipt-on-base-error-color: rgb(var(--ipt-on-base-error-rgb));
  --ipt-on-base-textPrimary-color: rgba(var(--ipt-on-base-rgb), .87);
  --ipt-on-base-textSecondary-color: rgba(var(--ipt-on-base-rgb), .54);
  --ipt-on-base-textHint-color: rgba(var(--ipt-on-base-rgb), .38);
  --ipt-on-base-textDisabled-color: rgba(var(--ipt-on-base-rgb), .38);
  --ipt-on-base-textIcon-color: rgba(var(--ipt-on-base-rgb), .54);
  --ipt-base-hover-opacity: 0.08;
  --ipt-base-hover-bg: rgba(var(--ipt-on-base-rgb), 0.08);
  --ipt-base-pressed-opacity: 0.16;
  --ipt-base-pressed-bg: rgba(var(--ipt-on-base-rgb), 0.16);
  --ipt-base-border-opacity: 0.12;
  --ipt-base-border-color: rgba(var(--ipt-on-base-rgb), 0.12);
  /* stylelint-disable-next-line max-line-length */
  --ipt-base-stripes-opacity: 0.04;
  --ipt-on-base-stripes-rgb: 0,0,0;
  --ipt-base-stripes-bg: repeating-linear-gradient(
        45deg,
        rgba(var(--ipt-on-base-stripes-rgb), var(--ipt-base-stripes-opacity)),
        rgba(var(--ipt-on-base-stripes-rgb), var(--ipt-base-stripes-opacity)) 2px,
        transparent 2px,
        transparent 7px), transparent;
  --ipt-baseAlt-rgb: 0,0,0;
  --ipt-baseAlt-color: rgb(var(--ipt-baseAlt-rgb));
  --ipt-baseAlt-bg: var(--ipt-baseAlt-color);
  --ipt-baseAlt-shade1-rgb: 31,31,31;
  --ipt-baseAlt-shade1-color: rgb(var(--ipt-baseAlt-shade1-rgb));
  --ipt-baseAlt-shade1-bg: var(--ipt-baseAlt-shade1-color);
  --ipt-baseAlt-shade2-rgb: 26,26,26;
  --ipt-baseAlt-shade2-color: rgb(var(--ipt-baseAlt-shade2-rgb));
  --ipt-baseAlt-shade2-bg: var(--ipt-baseAlt-shade2-color);
  --ipt-baseAlt-shade3-rgb: 18,18,18;
  --ipt-baseAlt-shade3-color: rgb(var(--ipt-baseAlt-shade3-rgb));
  --ipt-baseAlt-shade3-bg: var(--ipt-baseAlt-shade3-color);
  --ipt-on-baseAlt-rgb: 255,255,255;
  --ipt-on-baseAlt-color: rgb(var(--ipt-on-baseAlt-rgb));
  --ipt-on-baseAlt-accent1-rgb: 245,197,24;
  --ipt-on-baseAlt-accent1-color: rgb(var(--ipt-on-baseAlt-accent1-rgb));
  --ipt-on-baseAlt-accent2-rgb: 87,153,239;
  --ipt-on-baseAlt-accent2-color: rgb(var(--ipt-on-baseAlt-accent2-rgb));
  --ipt-on-baseAlt-error-rgb: 192,59,5;
  --ipt-on-baseAlt-error-color: rgb(var(--ipt-on-baseAlt-error-rgb));
  --ipt-on-baseAlt-textPrimary-color: rgba(var(--ipt-on-baseAlt-rgb), 1);
  --ipt-on-baseAlt-textSecondary-color: rgba(var(--ipt-on-baseAlt-rgb), .7);
  --ipt-on-baseAlt-textHint-color: rgba(var(--ipt-on-baseAlt-rgb), .5);
  --ipt-on-baseAlt-textDisabled-color: rgba(var(--ipt-on-baseAlt-rgb), .5);
  --ipt-on-baseAlt-textIcon-color: rgba(var(--ipt-on-baseAlt-rgb), 1);
  --ipt-baseAlt-hover-opacity: 0.12;
  --ipt-baseAlt-hover-bg: rgba(var(--ipt-on-baseAlt-rgb), 0.12);
  --ipt-baseAlt-pressed-opacity: 0.32;
  --ipt-baseAlt-pressed-bg: rgba(var(--ipt-on-baseAlt-rgb), 0.32);
  --ipt-baseAlt-border-opacity: 0.2;
  --ipt-baseAlt-border-color: rgba(var(--ipt-on-baseAlt-rgb), 0.2);
  /* stylelint-disable-next-line max-line-length */
  --ipt-baseAlt-stripes-opacity: 0.12;
  --ipt-on-baseAlt-stripes-rgb: 255,255,255;
  --ipt-baseAlt-stripes-bg: repeating-linear-gradient(
        45deg,
        rgba(var(--ipt-on-baseAlt-stripes-rgb), var(--ipt-baseAlt-stripes-opacity)),
        rgba(var(--ipt-on-baseAlt-stripes-rgb), var(--ipt-baseAlt-stripes-opacity)) 2px,
        transparent 2px,
        transparent 7px), transparent;
  --ipt-focus-outline-on-base-default: 1px dashed var(--ipt-on-base-color);
  --ipt-focus-outline-on-base: var(--ipt-focus-outline-on-base-default);
  --ipt-focus-outline-on-baseAlt-default: 1px dashed var(--ipt-on-baseAlt-color);
  --ipt-focus-outline-on-baseAlt: var(--ipt-focus-outline-on-baseAlt-default);
  --ipt-accent1-rgb: 245,197,24;
  --ipt-accent1-color: rgb(var(--ipt-accent1-rgb));
  --ipt-accent1-bg: var(--ipt-accent1-color);
  --ipt-on-accent1-rgb: 0,0,0;
  --ipt-on-accent1-color: rgb(var(--ipt-on-accent1-rgb));
  --ipt-accent2-rgb: 14,99,190;
  --ipt-accent2-color: rgb(var(--ipt-accent2-rgb));
  --ipt-accent2-bg: var(--ipt-accent2-color);
  --ipt-on-accent2-rgb: 255,255,255;
  --ipt-on-accent2-color: rgb(var(--ipt-on-accent2-rgb));
  --ipt-altAccent2-rgb: 87,153,239;
  --ipt-altAccent2-color: rgb(var(--ipt-altAccent2-rgb));
  --ipt-altAccent2-bg: var(--ipt-altAccent2-color);
  --ipt-on-altAccent2-rgb: 0,0,0;
  --ipt-on-altAccent2-color: rgb(var(--ipt-on-altAccent2-rgb));
  --ipt-accent3-rgb: 192,59,5;
  --ipt-accent3-color: rgb(var(--ipt-accent3-rgb));
  --ipt-accent3-bg: var(--ipt-accent3-color);
  --ipt-on-accent3-rgb: 255,255,255;
  --ipt-on-accent3-color: rgb(var(--ipt-on-accent3-rgb));
  --ipt-cornerRadius: 4px;
  --ipt-pageMargin: 1rem;
  --mdc-theme-ipt-base-color: var(--ipt-base-color);
  --mdc-theme-ipt-base-shade1-color: var(--ipt-base-shade1-color);
  --mdc-theme-ipt-base-shade2-color: var(--ipt-base-shade2-color);
  --mdc-theme-ipt-base-bg: var(--ipt-base-bg);
  --mdc-theme-ipt-base-shade1-bg: var(--ipt-base-shade1-bg);
  --mdc-theme-ipt-base-shade2-bg: var(--ipt-base-shade2-bg);
  --mdc-theme-ipt-on-base-color: var(--ipt-on-base-color);
  --mdc-theme-ipt-on-base-accent1-color: var(--ipt-on-base-accent1-color);
  --mdc-theme-ipt-on-base-accent2-color: var(--ipt-on-base-accent2-color);
  --mdc-theme-ipt-on-base-error-color: var(--ipt-on-base-error-color);
  --mdc-theme-ipt-on-base-textPrimary-color: var(--ipt-on-base-textPrimary-color);
  --mdc-theme-ipt-on-base-textSecondary-color: var(--ipt-on-base-textSecondary-color);
  --mdc-theme-ipt-on-base-textHint-color: var(--ipt-on-base-textHint-color);
  --mdc-theme-ipt-on-base-textDisabled-color: var(--ipt-on-base-textDisabled-color);
  --mdc-theme-ipt-on-base-textIcon-color: var(--ipt-on-base-textIcon-color);
  --mdc-theme-ipt-base-border-opacity: var(--ipt-base-border-opacity);
  --mdc-theme-ipt-base-border-color: var(--ipt-base-border-color);
  --mdc-theme-ipt-base-hover-opacity: var(--ipt-base-hover-opacity);
  --mdc-theme-ipt-base-hover-bg: var(--ipt-base-hover-bg);
  --mdc-theme-ipt-base-pressed-opacity: var(--ipt-base-pressed-opacity);
  --mdc-theme-ipt-base-pressed-bg: var(--ipt-base-pressed-bg);
  --mdc-theme-ipt-baseAlt-color: var(--ipt-baseAlt-color);
  --mdc-theme-ipt-baseAlt-shade1-color: var(--ipt-baseAlt-shade1-color);
  --mdc-theme-ipt-baseAlt-shade2-color: var(--ipt-baseAlt-shade2-color);
  --mdc-theme-ipt-baseAlt-shade3-color: var(--ipt-baseAlt-shade3-color);
  --mdc-theme-ipt-baseAlt-bg: var(--ipt-baseAlt-bg);
  --mdc-theme-ipt-baseAlt-shade1-bg: var(--ipt-baseAlt-shade1-bg);
  --mdc-theme-ipt-baseAlt-shade2-bg: var(--ipt-baseAlt-shade2-bg);
  --mdc-theme-ipt-baseAlt-shade3-bg: var(--ipt-baseAlt-shade3-bg);
  --mdc-theme-ipt-on-baseAlt-color: var(--ipt-on-baseAlt-color);
  --mdc-theme-ipt-on-baseAlt-accent1-color: var(--ipt-on-baseAlt-accent1-color);
  --mdc-theme-ipt-on-baseAlt-accent2-color: var(--ipt-on-baseAlt-accent2-color);
  --mdc-theme-ipt-on-baseAlt-error-color: var(--ipt-on-baseAlt-error-color);
  --mdc-theme-ipt-on-baseAlt-textPrimary-color: var(--ipt-on-baseAlt-textPrimary-color);
  --mdc-theme-ipt-on-baseAlt-textSecondary-color: var(--ipt-on-baseAlt-textSecondary-color);
  --mdc-theme-ipt-on-baseAlt-textHint-color: var(--ipt-on-baseAlt-textHint-color);
  --mdc-theme-ipt-on-baseAlt-textDisabled-color: var(--ipt-on-baseAlt-textDisabled-color);
  --mdc-theme-ipt-on-baseAlt-textIcon-color: var(--ipt-on-baseAlt-textIcon-color);
  --mdc-theme-ipt-baseAlt-border-opacity: var(--ipt-baseAlt-border-opacity);
  --mdc-theme-ipt-baseAlt-border-color: var(--ipt-baseAlt-border-color);
  --mdc-theme-ipt-baseAlt-hover-opacity: var(--ipt-baseAlt-hover-opacity);
  --mdc-theme-ipt-baseAlt-hover-bg: var(--ipt-baseAlt-hover-bg);
  --mdc-theme-ipt-baseAlt-pressed-opacity: var(--ipt-baseAlt-pressed-opacity);
  --mdc-theme-ipt-baseAlt-pressed-bg: var(--ipt-baseAlt-pressed-bg);
  --mdc-theme-ipt-accent1-color: var(--ipt-accent1-color);
  --mdc-theme-ipt-accent1-bg: var(--ipt-accent1-bg);
  --mdc-theme-ipt-on-accent1-color: var(--ipt-on-accent1-color);
  --mdc-theme-ipt-accent2-color: var(--ipt-accent2-color);
  --mdc-theme-ipt-accent2-bg: var(--ipt-accent2-bg);
  --mdc-theme-ipt-on-accent2-color: var(--ipt-on-accent2-color);
  --mdc-theme-ipt-altAccent2-color: var(--ipt-altAccent2-color);
  --mdc-theme-ipt-altAccent2-bg: var(--ipt-altAccent2-bg);
  --mdc-theme-ipt-on-altAccent2-color: var(--ipt-on-altAccent2-color);
  --mdc-theme-ipt-accent3-color: var(--ipt-accent3-color);
  --mdc-theme-ipt-accent3-bg: var(--ipt-accent3-bg);
  --mdc-theme-ipt-on-accent3-color: var(--ipt-on-accent3-color);
  --mdc-theme-primary: var(--ipt-baseAlt-color);
  --mdc-theme-secondary: var(--ipt-accent1-color);
  --mdc-theme-background: var(--ipt-base-color);
  --mdc-theme-surface: var(--ipt-base-shade1-color);
  --mdc-theme-on-primary: var(--ipt-on-baseAlt-color);
  --mdc-theme-on-secondary: var(--ipt-on-accent1-color);
  --mdc-theme-on-surface: var(--ipt-on-base-color);
  --mdc-theme-text-primary-on-background: var(--ipt-on-base-textPrimary-color);
  --mdc-theme-text-secondary-on-background: var(--ipt-on-base-textSecondary-color);
  --mdc-theme-text-hint-on-background: var(--ipt-on-base-textHint-color);
  --mdc-theme-text-disabled-on-background: var(--ipt-on-base-textDisabled-color);
  --mdc-theme-text-icon-on-background: var(--ipt-on-base-textIcon-color);
  --mdc-theme-text-primary-on-light: var(--ipt-on-base-textPrimary-color);
  --mdc-theme-text-secondary-on-light: var(--ipt-on-base-textSecondary-color);
  --mdc-theme-text-hint-on-light: var(--ipt-on-base-textHint-color);
  --mdc-theme-text-disabled-on-light: var(--ipt-on-base-textDisabled-color);
  --mdc-theme-text-icon-on-light: var(--ipt-on-base-textIcon-color);
  --mdc-theme-text-primary-on-dark: var(--ipt-on-baseAlt-textPrimary-color);
  --mdc-theme-text-secondary-on-dark: var(--ipt-on-baseAlt-textSecondary-color);
  --mdc-theme-text-hint-on-dark: var(--ipt-on-baseAlt-textHint-color);
  --mdc-theme-text-disabled-on-dark: var(--ipt-on-baseAlt-textDisabled-color);
  --mdc-theme-text-icon-on-dark: var(--ipt-on-baseAlt-textIcon-color);
  background: black;
  background: var(--ipt-baseAlt-bg);
  color: white;
  color: var(--ipt-on-baseAlt-color);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--ipt-font-family);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-font-smoothing: auto;
  /* stylelint-disable */
  font-smooth: auto;
  /* stylelint-enable */
  margin-top: 1rem;
  padding: 1rem 0;
  text-align: center; }
  @media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
    .VUGIPjGgHtzvbHiU19iTQ {
      --ipt-base-stripes-bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAGBJREFUGBmFkIEKgCAMRJdShP//u0b3qInaqoNTOd/ELZtZkVcZHdf2WLesaJGTzBlFcOWyyr+wvzLDFJI1OUjQw3xlgHvwE57BVzgCQxiQGYYjUe7TSID7HQxdKkOtwRM6PBJDBy3TcAAAAABJRU5ErkJggg==); } }
  @media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
    .VUGIPjGgHtzvbHiU19iTQ {
      --ipt-baseAlt-stripes-bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAFNJREFUGBlj/P//vzwDBHxkZGT8AGWjUEA1AowgAijKD5XBqZgRpIAYxWCFxCiGKySkGEUhPsUYCnEpxqoQm2ImqI9BcigAGqYfoYL8TEAGPzGKAcYdNCelTSU5AAAAAElFTkSuQmCC); } }
  @media screen and (min-width: 480px) {
    .VUGIPjGgHtzvbHiU19iTQ {
      --ipt-pageMargin: 1.5rem; } }
  @media screen and (min-width: 600px) {
    .VUGIPjGgHtzvbHiU19iTQ {
      --ipt-pageMargin: 1.5rem; } }
  @media screen and (min-width: 1024px) {
    .VUGIPjGgHtzvbHiU19iTQ {
      --ipt-pageMargin: 1rem; } }
  @media screen and (min-width: 1280px) {
    .VUGIPjGgHtzvbHiU19iTQ {
      --ipt-pageMargin: 1.5rem; } }
  .VUGIPjGgHtzvbHiU19iTQ ._32mc4FXftSbwhpJwmGCYUQ {
    background: rgba(255, 255, 255, 0.1);
    /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
    background: rgba(var(--ipt-on-baseAlt-rgb), 0.1);
    margin-bottom: .5rem;
    padding: 1rem 0; }
  .VUGIPjGgHtzvbHiU19iTQ ._2Wc8yXs8SzGv7TVS-oOmhT {
    margin: 16px 0; }
  .VUGIPjGgHtzvbHiU19iTQ ._1eKbSAFyeJgUyBUy2VbcS_ {
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px; }
  .VUGIPjGgHtzvbHiU19iTQ ._2-iNNCFskmr4l2OFN2DRsf {
    color: rgba(255, 255, 255, 0.7);
    color: var(--ipt-on-baseAlt-textSecondary-color);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-family: var(--ipt-font-family);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.03333em;
    text-decoration: inherit;
    text-transform: inherit;
    -webkit-font-smoothing: auto;
    /* stylelint-disable */
    font-smooth: auto;
    /* stylelint-enable */
    margin: .5em 0; }
  .VUGIPjGgHtzvbHiU19iTQ ._2AR8CsLqQAMCT1_Q7eidSY {
    max-width: 360px; }
  .VUGIPjGgHtzvbHiU19iTQ ._1O3-k0VDASm1IeBrfofV4g {
    /* ipc-inline-list will still force 1rem
        of left margin even if the preceding sibling
        is display:none. Redistribute the margin so 
        we don't have weird offsets. */
    display: inline; }
    .VUGIPjGgHtzvbHiU19iTQ ._1O3-k0VDASm1IeBrfofV4g li {
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
  .VUGIPjGgHtzvbHiU19iTQ .zgFV3U-XECrqVQnyDbx2B {
    display: none; }
  @media screen and (min-width: 600px) {
    .VUGIPjGgHtzvbHiU19iTQ {
      margin-top: 0; }
      .VUGIPjGgHtzvbHiU19iTQ ._2AR8CsLqQAMCT1_Q7eidSY {
        max-width: 600px; }
      .VUGIPjGgHtzvbHiU19iTQ ._1O3-k0VDASm1IeBrfofV4g {
        display: inline; } }
  @media screen and (min-width: 1024px) {
    .VUGIPjGgHtzvbHiU19iTQ ._2AR8CsLqQAMCT1_Q7eidSY {
      max-width: 1024px; }
    .VUGIPjGgHtzvbHiU19iTQ ._32mc4FXftSbwhpJwmGCYUQ {
      display: none; }
    .VUGIPjGgHtzvbHiU19iTQ .zgFV3U-XECrqVQnyDbx2B {
      display: inline-block; }
    .VUGIPjGgHtzvbHiU19iTQ .X17C45Q1MH_7XboLL_EEG {
      display: none; } }


/*# sourceMappingURL=main.cb3ad82c4146f9cb73e2.css.map*/